/* GLOBAL STYLES */
body {
  background: #333;
  color: #fff;
  font-family: monospace;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

.form-container {
   margin:10px;
   padding:10px;
  background-color:#fff;
  color:#000;
  display:inline-block;
  width:40%;

}

body a, a:hover{
    color:#fff;
}

